<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset-"UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5 " >
        <p class="text-center mt-3">Select Course for the Quiz</p>

        <div class="row">
            {% for course in courses %}
                <div class='col-lg-4 mt-4 d-flex justify-content-center'>
                    <a href='/{{course.id}}' class="btn btn-primary">{{course.course_name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>


</body>